.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    width: 220px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 16px;
  }
  
  .card p {
    font-size: 14px;
  }

.search-input {
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: border 0.3s, box-shadow 0.3s;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    ::placeholder {
        color: #aaa;
    }

    &:focus {
        border-color: #007BFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        outline: none;
    }
}
