.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: auto;
  }
  
  .header-section {
    /* display: flex; 옥석오빠 전달*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 20px;
    flex-direction: column;
  }
  
  .card-item {
    width: 15rem;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
  }
  
  .card-img {
    width: 225px;
    height: 350px;
    flex-shrink: 0;
  }
  
  /* .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .list-group-flush {
    display: flex;
    flex-direction: row;
  } */
  
  .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .button1, .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 62px;
    flex-shrink: 0;
    background-color: #0066FF;
    margin: 0 10px; 
  }
  
  .recommended-title {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'NanumSquareNeo-cbd';
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.24px;
  }
  
  .modal-title {
    font-family: 'NanumSquareNeo-cbd';
    font-size: 24px; 
    width: 100%; 
  }
  
  .modal-footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
  }
  
  .modal-footer button {
    flex: 1; 
    width: 100%;
    font-family: 'NanumSquareNeo-cbd';
  }
  
  .recommend1{
    color: #000;
    font-family:"NanumSquareNeo-cbd";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }