평소의 ToggleButton 색상
.toggle-btn {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  margin-right: 10px;
}

.toggle-btn1 {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  margin-right: 10px;
}

/* 활성화됐을 때의 ToggleButton 색상 */
.toggle-btn.active {
  background-color: black !important;
  color: white !important;
  border: 1px solid #4CAF50 !important;
}

/* 눌러진 상태의 ToggleButton 색상 */
.toggle-btn:active {
  background-color: #007BFF !important; /* 예: 파란색 */
  color: #FFF !important; /* 예: 흰색 텍스트 */
  border: 1px solid #0056b3 !important; /* 예: 어두운 파란색 경계선 */
}

/* 평소의 ToggleButton 색상 */
.toggle1-btn {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
}

/* 활성화됐을 때의 ToggleButton 색상 */
.toggle-btn1.active {
  background-color: black !important;
  color: white !important;
  border: 1px solid #4CAF50 !important;
}

/* 눌러진 상태의 ToggleButton 색상 */
.toggle1-btn:active {
  background-color: #007BFF !important; /* 예: 파란색 */
  color: #FFF !important; /* 예: 흰색 텍스트 */
  border: 1px solid #0056b3 !important; /* 예: 어두운 파란색 경계선 */
}

.card_list {
 /* padding: 15px; */
 /* margin: 15px; */
 /* display: inline-block; */
  /* width: 220px; */
  justify-content: center;
 text-align: center;  
 object-fit: cover;
 height: 53vh;
 margin-bottom: 10px;
 margin-top: 30px;
} 

.p {
  justify-content: center;
  text-align: center;
}

.credit1{
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 33px;
  font-family: "NanumSquareNeo-dEb";
  font-weight: 700;
  line-height: 120px;
  text-align: center;
}

.credit2{
  font-family: "NanumSquareNeo-bRg";
}

.btn-group {
  flex-wrap: wrap;
}

.btn-group .btn {
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.toggle-btn, .toggle-btn1 {
  background-color: #f5f5f5 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  margin-right: 10px;
  width: 100px; 
  height: 40px; 
  font-size: 14px; 
  padding: 10px 20px; 
}

/* .cardcom{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20vh;
  height: 5vh; 

} */

.card1{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 6vh;
  margin-top: 20px;
  font-family: "NanumSquareNeo-cbd";
  font-size: 20px;
  font-weight: 550;
}

.card2{
  font-family: "NanumSquareNeo-bRg";
  font-size: 16.5px;
}


.card3{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5vh;
  font-family: "NanumSquareNeo-aLt";
  font-size: 15px;
}


