.footer-container {
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-family:"NanumSquareNeo-cbd";
    font-size: 15px;

  }

  .content-wrap {
    display: grid;
    place-items: center;    
    height: 100%;              
    text-align: center;        
  }


  