.login1 {
  font-weight: bold;
}
  
.login2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 30%;
}
  
.login3 {
  color: red;
}

.login5 { 
  color: #000;
  padding: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-family:"NanumSquareNeo-cbd";
  line-height: 60px;
  margin: 0 auto;
}

.login6{
  color: #000;
  text-align: center;
  font-family:"NanumSquareNeo-dEb";
  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
}

.login7{
  color: white;
  width: 100%;
  height: 60px;
  background-color: #0066FF;
  border: none;
  margin: 0 auto;
  font-size: 20px;
}

.login8 {
  background: #F5F5F8;
  height: 47px;
  flex-shrink: 0;
}

/* 입력창 양식 */
.login10{
  width: 100%;
  /* padding: 10px; */
  border: 0px solid #ccc;
  border-radius: 0px; 
  background-color: #f9f9f9;
  height: 65px;
  align-items: center;
  padding-left: 10px;
}

.login11{
  color: #000;
  text-align: center;
  font-family:"NanumSquareNeo-cbd";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.login12{
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}

.login13{
  color: #000;
  font-family:"NanumSquareNeo-cbd";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  text-decoration: none;
}

.login-card{
  width: 1000px;
  font-family:"NanumSquareNeo-cbd";
}