.mypage1 {
    font-weight: bold;
  }
    
  .mypage2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 20%;
  }
    
  .mypage3 {
    color: red;
  }
  
  .mypage5 { 
    color: #000;
    padding: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 60px;
    margin: 0 auto;
  }
  
  .mypage6{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 50px;
  }
  
  .mypage7{
    color: white;
    width: 100%;
    height: 60px;
    background-color: #0066FF;
    border: none;
    margin: 0 auto;
    font-size: 20px;
  }
  
  .mypage8 {
    background: #F5F5F8;
    height: 47px;
    flex-shrink: 0;
  }
  
  .mypage9 {
    background-color:  #F5F5F8;
    line-height: 30px;
  }


  /* 입력창 양식 */
  .mypage10{
    width: 100%;
    /* padding: 10px; */
    border: 0px solid #ccc;
    border-radius: 0px; 
    background-color: #f9f9f9;
    height: 65px;
    align-items: center;
    padding-left: 10px;
  }
  
  .mypage11{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  
  .mypage12{
    line-height: 30px;
    text-align: center;
  }
  
  .mypage13 {
    text-align: right;
  }
  
  .mypage14 {
    cursor: pointer;
    color: #C4C4C4;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
  }