.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 20px;
  }
  
  .card-item {
    width: 18rem;
    margin: 0 10px;
  }
  
  .footer-section {
    margin-top: 10px;
  }
  
  .button1 {
    margin-right: 10px;
    width: 294px;
    height: 62px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #0066FF;
  }

  .button2 {
    margin-right: 10px;
    width: 294px;
    height: 62px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #0066FF;
  }

  .recommended-title {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.24px;
  }
