.signup1 {
  font-weight: bold;
}
  
.signup2 {
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.signup3 {
  color: red;
}

.signup5 { 
  color: #000;
  /* text-align: center; */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 60px;
  margin: 0 auto;
}

.signup6{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 800;
  line-height: 100px;
  margin-Top: 20%;
}

.signup7{
  color: white;
  width: 100%;
  height: 65px;
  background-color: #0066FF;
  border: none;
  margin: 0 auto;
  font-size: 20px;
}

.signup8 {
  background-color: #f9f9f9;
  height: 47px;
  flex-shrink: 0;
}

.signup9 {
  background-color: #f9f9f9;
  line-height: 30px;
}

/* 입력창 양식 */
.signup10{
  width: 100%;
  /* padding: 10px; */
  border: 0px solid #ccc;
  border-radius: 0px; 
  background-color: #f9f9f9;
  height: 60px;
  align-items: center;
  padding-left: 10px;
}

.signup11{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}


